$padding: 8px;
$larguraCima: 15%px;


.conteiner {
    display: flex;
    flex-direction: column;
    width: 44%;
}

.cima {
    display: flex;
    flex-direction: row;

}

.baixo {
    display: flex;
    flex-direction: row;

}

.divb {
    display: flex;
    flex-direction: column;
}

.divb:nth-child(2) {
    margin: 0 15px;
}


.cima input {
    width: $larguraCima;
}

.conteiner input {
    padding: $padding;
}

.cima {
    width: 100%;

    divb {
        width: 33.3%;
    }
}

.baixo {
    margin-top: 30px;
    width: 100%;

    .divb:first-child {
        width: 50%;
    }

    .divb:nth-child(2),
    .divb:nth-child(3) {
        width: 25%;
    }
}

.baixo {
    margin-bottom: 10px;
}

.ip7 {
    margin-bottom: 10px;
}

button {
    border: none;
    width: 50%px;
    height: 35px;
    background-color: blue;
    color: white;
    border-radius: 4px;
}